*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: radial-gradient(circle, #9b243e, #a93538, #b44731, #bc5929, #c06d21);
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #6495e6;
  width: 600px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px #000;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  filter: drop-shadow(4px 4px 2px #000) ;
}

ul.toDos {
  list-style: none;
}

ul.toDos li::after{
  content: '';
  display: table;
  clear: both;
}

ul.toDos li .controls {
  float: right;
  padding: 0 5px;
}

.insert {
  width: 100%;
  margin-top: 10px;
}

.title.barrato {
  text-decoration: line-through;
}